.container{
  padding: 20px;
  width: 90%;
  background-color: #F2F4F8;
  margin: auto;
    .desc{
      font-size: 16px;
      text-align: center;
      padding: 60px 0px ;
      .example{
        font-weight: bold;
        color: #6ACC00;
      }
    }
  .contain{

    display: flex;
    justify-content: space-around;
    .textAndReview{
        min-width: 50%;
            .textarea{
              min-width: 50%;
            }
            .table{
              min-width: 50%;
            }
          }

          .details{
          min-width: 40%;

      }
  }
}
