
<!-- <app-textarea></app-textarea> -->

<div class="container">
  <div class="desc">
    Enter an ingredient list list for what you are cooking, like <span class="example">"1 cup rice, 10 oz chickpeas"</span> , etc.
<br>
    Enter each ingredient on a new line.
  </div>
  <div class="contain">
    <div class="textAndReview">
      <div class="textarea">
          <app-textarea></app-textarea>
      </div>

      <div class="table">
        <app-table-review></app-table-review>
      </div>
    </div>
    <div class="details">
      <app-details></app-details>
    </div>
  </div>
</div>
